* {
	box-sizing: border-box;
}

body{
	font-size: 16px;
}

.fa-3x {
	font-size: 2em;
	top: 46%;
}

header {
	color: white;
	height: 85px;
	position: relative;
	background-color: #333;
}

header img {
	height: auto;
	width: 100%;
}

header i {
	padding-top: 20px;
	left: 20px;
	line-height: 75px;
	position: absolute;
	transform: translateY(-50%);
}

header h1 {
	font-size: 20px;
	padding-top: 15px;
	text-align: center;
}

h2{
	font-weight: bold;
	font-size: 16px;
}

.container{
	margin: 0 auto;
	width: 420px;
}

.map {
	position: relative;;
}

.map .location {
	left: 20px;
	bottom: 20px;
	width: 20px;
	position: absolute;
}

.map .location-pin {
  left: 34%;
  top: 25%;
  width: 70px;
  height: 70px;
  display: block;
  position: absolute;
  border-radius: 50%;
}

.map img {
	width: 100%;
	height: auto;
}

.table {
	margin-bottom: 0;
}

table th {
	color: #f24f0a;
}

table td {
	position: relative;
}

table td span {
	bottom: 0;
  	left: 5px;
	width: 40px;
	height: 10px;
	position: absolute;
	background-color: #bdbdbd;
}

footer {
	height: 100px;
	display: flex;
	padding: 0 20px;
	background-color: #f2f2f2;
	justify-content: space-between;
}
footer div {
	text-align: center;
}

footer div img {
	max-width: 50px;
	margin-bottom: -50px;
}

footer div span.stations {
	width: 20px;
	height: 20px;
	display: block;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: -30px;
	border-radius: 50%;
	background-color: red;
	border: 4px solid black;
}

footer div p {
	line-height: 100px;
	margin-top: -10px;
}
